@page "/foros"
@using InnoviaReach___TFI___FrontEnd.Data
@using InnoviaReach___TFI___FrontEnd.Dialogs
@using InnoviaReach___TFI___FrontEnd.Pages.Foros
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject HttpClient httpClient
@inject ISessionStorageService sessionStorage
@inject IDialogService DialogService
@using System.Net.Http.Headers
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<div class="foro-principal">
    <header class="foro-header" id="foro-header">
        <div class="foro-row">
            <div class="foro-container">
                <div class="foro-header-content">
                    <div class="foro-nav-search">
                        <div class="foro-form-group">
                            <input type="text" placeholder="Search Community" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="foro-main">
        <MudTabs Elevation="2" Rounded="false" ApplyEffectsToContainer="false" PanelClass="pa-6" Centered=true Class="foro-mudTabs" Border="false">
            <MudTabPanel Text="Foros Generales" OnClick="AbrirForosGenerales">
                @if (!CreacionForo)
                {
                    @if (!foroAbierto)
                    {
                        @if (!isForumsLoading)
                        {
                            <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                                <div class="foro-row">
                                    <section class="foro-left">
                                        <div class="foro-inner-left">
                                            @if (ForosGenerales != null && ForosGenerales.Any())
                                            {
                                                @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                                @foreach (var item in ForosGenerales)
                                                {
                                                    if (ForosGenerales.Count==0)
                                                    {
                                                        <h1>No se encontraron foros</h1>
                                                    }
                                                    else
                                                    {
                                                        <div class="foro-box">
                                                            @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                            <div class="foro-details">
                                                                <p>@item.NombreVideoJuego</p>
                                                                <h3 @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                                <div class="foro-sub-details">
                                                                    <span>@item.NombreUsuarioCreador</span>
                                                                    <span>@item.FechaCreado.ToShortDateString()</span>
                                                                    <div class="foro-views">
                                                                        <i class="fa-regular fa-eye"></i>
                                                                        <span>@item.Visitas</span>
                                                                    </div>
                                                                    <div class="foro-comment">
                                                                        <i class="fa-solid fa-comment"></i>
                                                                        <span>@item.CantidadComentarios</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button">
                                                                @if (item.NombreUsuarioCreador != user?.UserName)
                                                                {
                                                                    @if(item.favorito==true)
                                                                    {
                                                                        <i class="fa-solid fa-bookmark"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa-regular fa-bookmark"></i>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                
                                                }
                                            }
                                            else
                                            {
                                                <div class="foro-box foro-first">
                                                    <h3>No hay foros disponibles</h3>
                                                </div>
                                            }
                                        </div>
                                    </section>
                                    <section class="foro-right">
                                        <div class="foro-box foro-first">
                                            <h3>honda shadow forums</h3>
                                            <span>since 2007</span>
                                            <p>
                                                Welcome to Honda Shadow Forum. Come in and discuss any Honda
                                                Shadow models: VT1100, VT250, VT750 and the VT500.
                                            </p>
                                            <div class="foro-stats">
                                                <div>
                                                    <h4>1.6M</h4>
                                                    <span>posts</span>
                                                </div>
                                                <div>
                                                    <h4>79.4k</h4>
                                                    <span>members</span>
                                                </div>
                                            </div>
                                            <div class="foro-buttons">
                                                <a href="#" class="foro-btn foro-btn-red"><i class="fa-solid fa-user-large"></i> join community</a>
                                                <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync"><i class="fa-solid fa-plus"></i> Crear foro</a>
                                            </div>
                                        </div>
                                        <div class="foro-box foro-top-forums">
                                            <h3>our top forums</h3>
                                            <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                                            <div class="foro-inner-box">
                                                <h4><a href="#">general bike discussion</a></h4>
                                                <div class="foro-stats">
                                                    <div class="foro-stat foro-comments">
                                                        <i class="fa-solid fa-comment"></i><span> 709.4k</span>
                                                    </div>
                                                    <div class="foro-stat foro-views">
                                                        <i class="fa-regular fa-eye"></i><span>104.4M</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foro-inner-box">
                                                <h4><a href="#">technical discussion</a></h4>
                                                <div class="foro-stats">
                                                    <div class="foro-stat foro-comments">
                                                        <i class="fa-solid fa-comment"></i><span> 599.1k</span>
                                                    </div>
                                                    <div class="foro-stat foro-views">
                                                        <i class="fa-regular fa-eye"></i><span>81.3M</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foro-inner-box">
                                                <h4><a href="#">member introductions</a></h4>
                                                <div class="foro-stats">
                                                    <div class="foro-stat foro-comments">
                                                        <i class="fa-solid fa-comment"></i><span> 189.5k</span>
                                                    </div>
                                                    <div class="foro-stat foro-views">
                                                        <i class="fa-regular fa-eye"></i><span>19.5M</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foro-inner-box">
                                                <h4><a href="#">road stories</a></h4>
                                                <div class="foro-stats">
                                                    <div class="foro-stat foro-comments">
                                                        <i class="fa-solid fa-comment"></i><span> 133.5k</span>
                                                    </div>
                                                    <div class="foro-stat foro-views">
                                                        <i class="fa-regular fa-eye"></i><span>7.7M</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="foro-inner-box">
                                                <h4><a href="#">honda shadow videos</a></h4>
                                                <div class="foro-stats">
                                                    <div class="foro-stat foro-comments">
                                                        <i class="fa-solid fa-comment"></i><span> 123.1k</span>
                                                    </div>
                                                    <div class="foro-stat foro-views">
                                                        <i class="fa-regular fa-eye"></i><span>16.3M</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        }
                        else
                        {
                           <SpinnerLoading show=@isForumsLoading/>
                        }
                    }
                    else
                    {
                        <div class="detalleForo-main">
                            <div class="comments-container">
                                <ul id="comments-list" class="comments-list">
                                    <li>
                                        <div class="comment-main-level">
                                            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                    <span>@ForoSeleccionado.FechaCreado</span>
                                                    @*<i class="fa fa-reply"></i>
                                                    <i class="fa fa-heart"></i>*@
                                                </div>
                                                <div class="comment-content">
                                                   @ForoSeleccionado.Descripcion
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                            <!-- Contenedor Principal -->
                            <div class="comments-container">
                                @if (ComentariosRaiz.Count<1)
                                {
                                    <h1>No se han registrado comentarios </h1>
                                }
                                else
                                {
                                    <h1>Comentarios </h1>
                                    <ul id="comments-list" class="comments-list">
                                        @foreach (var comentario in ComentariosRaiz)
                                        {
                                            <li>
                                                <div class="comment-main-level">
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar">
                                                        <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                        <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                        <div class="comment-punctuation">
                                                            @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                        </div>
                                                    </div>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            @if (comentario.Creador==ForoSeleccionado.NombreUsuarioCreador)
                                                            {
                                                                <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                            }
                                                            else
                                                            {
                                                                <h6 class="comment-name">@comentario.Creador</h6>
                                                            }
                                                            <span>@comentario.FechaCreacion</span>
                                                            <i class="fa fa-reply" @onclick="@(()=> ToggleRespuesta(comentario.Codigo))"></i>
                                                            @if (comentario.Creador != user?.UserName)
                                                            {
                                                                <i class="fa fa-heart" @onclick="@(()=> Abrir(comentario.Codigo,comentario.Creador))"></i>
                                                            }
                                                        </div>
                                                        <div class="comment-content">
                                                            @(new MarkupString (@comentario.Contenido))
                                                        </div>
                                                        @if (ComentarioAbierto == comentario.Codigo)
                                                        {
                                                            <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                            @if (comentario.Respuestas.Any())
                                            {
                                                @* Llamada recursiva para mostrar respuestas *@
                                                <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />

                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <ComponenteCrearForo Videojuegos="videojuegosForo" />
                }
            </MudTabPanel>
            <MudTabPanel Text="Foros Recomendados">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="overflow-x: scroll; overflow-y: auto; height: 100%; width: auto;">
                            <h2 class="foro-row-recommended-title">Foros recomendados por visitas</h2>
                            <div class="foro-row-recommended">
                                @if (ForosRecPorVisita != null && ForosRecPorVisita.Any())
                                {
                                    @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                    @foreach (var item in ForosRecPorVisita)
                                    {
                                        if (ForosRecPorVisita.Count==0)
                                        {
                                            <h1>No se registraron visitas en foros</h1>
                                        }
                                        else
                                        {
                                            <div class="foro-box">
                                                @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <div class="foroRecommended-title">
                                                        <h3 title="@item.Titulo" @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                    </div>
                                                    <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                        <div class="informacionusr">
                                                            <span>@item.NombreUsuarioCreador</span>
                                                            <span>@item.FechaCreado.ToShortDateString()</span>
                                                        </div>
                                                        <div class="metricas">
                                                            <div class="foro-views">
                                                                <i class="fa-regular fa-eye"></i>
                                                                <span>@item.Visitas</span>
                                                            </div>
                                                            <div class="foro-comment">
                                                                <i class="fa-solid fa-comment"></i>
                                                                <span>@item.CantidadComentarios</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button">
                                                    @if (item.NombreUsuarioCreador != user?.UserName)
                                                    {
                                                        @if(item.favorito==true)
                                                        {
                                                            <i class="fa-solid fa-bookmark"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-regular fa-bookmark"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }     
                                    }
                                }
                                else
                                {
                                    <div class="foro-box foro-first">
                                        <h3>No hay foros disponibles</h3>
                                    </div>
                                }
                            </div>
                            <h2 class="foro-row-recommended-title">Foros recomendados por favoritos</h2>
                            <div class="foro-row-recommended">
                                @if (ForosGenerales != null && ForosGenerales.Any())
                                {
                                    @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                    @foreach (var item in ForosGenerales)
                                    {
                                        if (ForosGenerales.Count==0)
                                        {
                                            <h1>No se encontraron foros</h1>
                                        }
                                        else
                                        {
                                            <div class="foro-box">
                                                @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <h3 title="@item.Titulo" @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                    <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                        <div class="informacionusr">
                                                            <span>@item.NombreUsuarioCreador</span>
                                                            <span>@item.FechaCreado.ToShortDateString()</span>
                                                        </div>
                                                        <div class="metricas">
                                                            <div class="foro-views">
                                                                <i class="fa-regular fa-eye"></i>
                                                                <span>@item.Visitas</span>
                                                            </div>
                                                            <div class="foro-comment">
                                                                <i class="fa-solid fa-comment"></i>
                                                                <span>@item.CantidadComentarios</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button">
                                                    @if (item.NombreUsuarioCreador != user?.UserName)
                                                    {
                                                        @if(item.favorito==true)
                                                        {
                                                            <i class="fa-solid fa-bookmark"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-regular fa-bookmark"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }     
                                    }
                                }
                                else
                                {
                                    <div class="foro-box foro-first">
                                        <h3>No hay foros disponibles</h3>
                                    </div>
                                }
                            </div>
                            <h2 class="foro-row-recommended-title">Foros recomendados por creaciones</h2>
                            <div class="foro-row-recommended">
                                @if (ForosGenerales != null && ForosGenerales.Any())
                                {
                                    @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                    @foreach (var item in ForosGenerales)
                                    {
                                        if (ForosGenerales.Count==0)
                                        {
                                            <h1>No se encontraron foros</h1>
                                        }
                                        else
                                        {
                                            <div class="foro-box">
                                                @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <h3 title="@item.Titulo" @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                    <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                        <div class="informacionusr">
                                                            <span>@item.NombreUsuarioCreador</span>
                                                            <span>@item.FechaCreado.ToShortDateString()</span>
                                                        </div>
                                                        <div class="metricas">
                                                            <div class="foro-views">
                                                                <i class="fa-regular fa-eye"></i>
                                                                <span>@item.Visitas</span>
                                                            </div>
                                                            <div class="foro-comment">
                                                                <i class="fa-solid fa-comment"></i>
                                                                <span>@item.CantidadComentarios</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button">
                                                    @if (item.NombreUsuarioCreador != user?.UserName)
                                                    {
                                                        @if(item.favorito==true)
                                                        {
                                                            <i class="fa-solid fa-bookmark"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-regular fa-bookmark"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }     
                                    }
                                }
                                else
                                {
                                    <div class="foro-box foro-first">
                                        <h3>No hay foros disponibles</h3>
                                    </div>
                                }
                            </div>
                            <h2 class="foro-row-recommended-title">Foros populares</h2>
                            <div class="foro-row-recommended">
                                @if (ForosGenerales != null && ForosGenerales.Any())
                                {
                                    @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                    @foreach (var item in ForosGenerales)
                                    {
                                        if (ForosGenerales.Count==0)
                                        {
                                            <h1>No se encontraron foros</h1>
                                        }
                                        else
                                        {
                                            <div class="foro-box">
                                                @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <h3 title="@item.Titulo" @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                    <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                        <div class="informacionusr">
                                                            <span>@item.NombreUsuarioCreador</span>
                                                            <span>@item.FechaCreado.ToShortDateString()</span>
                                                        </div>
                                                        <div class="metricas">
                                                            <div class="foro-views">
                                                                <i class="fa-regular fa-eye"></i>
                                                                <span>@item.Visitas</span>
                                                            </div>
                                                            <div class="foro-comment">
                                                                <i class="fa-solid fa-comment"></i>
                                                                <span>@item.CantidadComentarios</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button">
                                                    @if (item.NombreUsuarioCreador != user?.UserName)
                                                    {
                                                        @if(item.favorito==true)
                                                        {
                                                            <i class="fa-solid fa-bookmark"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-regular fa-bookmark"></i>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }     
                                    }
                                }
                                else
                                {
                                    <div class="foro-box foro-first">
                                        <h3>No hay foros disponibles</h3>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    }
                    else
                    {
                       <SpinnerLoading show=@isForumsLoading/>
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                <span>@ForoSeleccionado.FechaCreado</span>
                                                @*<i class="fa fa-reply"></i>
                                                <i class="fa fa-heart"></i>*@
                                            </div>
                                            <div class="comment-content">
                                               @ForoSeleccionado.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                        <!-- Contenedor Principal -->
                        <div class="comments-container">
                            @if (ComentariosRaiz.Count<1)
                            {
                                <h1>No se han registrado comentarios </h1>
                            }
                            else
                            {
                                <h1>Comentarios </h1>
                            <ul id="comments-list" class="comments-list">
                                @foreach (var comentario in ComentariosRaiz)
                                {
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar">
                                                <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                <div class="comment-punctuation">
                                                    @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                </div>
                                            </div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    @if (comentario.Creador==ForoSeleccionado.NombreUsuarioCreador)
                                                    {
                                                        <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="comment-name">@comentario.Creador</h6>
                                                    }
                                                    <span>@comentario.FechaCreacion</span>
                                                    <i class="fa fa-reply" @onclick="@(()=> ToggleRespuesta(comentario.Codigo))"></i>
                                                    @if (comentario.Creador != user?.UserName)
                                                    {
                                                        <i class="fa fa-heart" @onclick="@(()=> Abrir(comentario.Codigo,comentario.Creador))"></i>
                                                    }
                                                </div>
                                                <div class="comment-content">
                                                    @(new MarkupString (@comentario.Contenido))
                                                </div>
                                                @if (ComentarioAbierto == comentario.Codigo)
                                                {
                                                    <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                }
                                            </div>
                                        </div>
                                    </li>
                                    @if (comentario.Respuestas.Any())
                                    {
                                        @* Llamada recursiva para mostrar respuestas *@
                                        <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />

                                    }
                                }
                            </ul>
                            }
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="Foros Favoritos" OnClick="AbrirForosGenerales">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                            <div class="foro-row">
                                <section class="foro-left">
                                    <div class="foro-inner-left">
                                        @if (ForosGenerales != null && ForosGenerales.Any())
                                        {
                                            bool tieneForosFavoritos = false;
                                
                                            @foreach (var item in ForosGenerales)
                                            {
                                                if (item.favorito == true)
                                                {
                                                    tieneForosFavoritos = true; @* Se encontró al menos un favorito *@
                                                    <div class="foro-box">
                                                        <div class="foro-details">
                                                            <p>@item.NombreVideoJuego</p>
                                                            <h3 @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                            <div class="foro-sub-details">
                                                                <span>@item.NombreUsuarioCreador</span>
                                                                <span>@item.FechaCreado.ToShortDateString()</span>
                                                                <div class="foro-views">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                    <span>@item.Visitas</span>
                                                                </div>
                                                                <div class="foro-comment">
                                                                    <i class="fa-solid fa-comment"></i>
                                                                    <span>@item.CantidadComentarios</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button">
                                                            <i class="fa-solid fa-bookmark"></i>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                            @* Mostrar mensaje si no hay foros marcados como favoritos *@
                                            @if (!tieneForosFavoritos)
                                            {
                                                <div class="foro-box foro-first">
                                                    <h3>No se han marcado foros como favorito</h3>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="foro-box foro-first">
                                                <h3>No hay foros disponibles</h3>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <section class="foro-right">
                                    <div class="foro-box foro-first">
                                        <h3>honda shadow forums</h3>
                                        <span>since 2007</span>
                                        <p>
                                            Welcome to Honda Shadow Forum. Come in and discuss any Honda
                                            Shadow models: VT1100, VT250, VT750 and the VT500.
                                        </p>
                                        <div class="foro-stats">
                                            <div>
                                                <h4>1.6M</h4>
                                                <span>posts</span>
                                            </div>
                                            <div>
                                                <h4>79.4k</h4>
                                                <span>members</span>
                                            </div>
                                        </div>
                                        <div class="foro-buttons">
                                            <a href="#" class="foro-btn foro-btn-red"><i class="fa-solid fa-user-large"></i> join community</a>
                                            <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync"><i class="fa-solid fa-plus" @onclick="OpenDialogAsync"></i> Crear foro</a>
                                        </div>
                                    </div>
                                    <div class="foro-box foro-top-forums">
                                        <h3>our top forums</h3>
                                        <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">general bike discussion</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 709.4k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>104.4M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">technical discussion</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 599.1k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>81.3M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">member introductions</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 189.5k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>19.5M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">road stories</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 133.5k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>7.7M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">honda shadow videos</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 123.1k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>16.3M</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                    else
                    {
                       <SpinnerLoading show=@isForumsLoading/>
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                <span>@ForoSeleccionado.FechaCreado</span>
                                                @*<i class="fa fa-reply"></i>
                                                <i class="fa fa-heart"></i>*@
                                            </div>
                                            <div class="comment-content">
                                               @ForoSeleccionado.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                        <!-- Contenedor Principal -->
                        <div class="comments-container">
                            @if (ComentariosRaiz.Count<1)
                            {
                                <h1>No se han registrado comentarios </h1>
                            }
                            else
                            {
                                <h1>Comentarios </h1>
                            <ul id="comments-list" class="comments-list">
                                @foreach (var comentario in ComentariosRaiz)
                                {
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar">
                                                <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                <div class="comment-punctuation">
                                                    @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                </div>
                                            </div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    @if (comentario.Creador==ForoSeleccionado.NombreUsuarioCreador)
                                                    {
                                                        <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="comment-name">@comentario.Creador</h6>
                                                    }
                                                    <span>@comentario.FechaCreacion</span>
                                                    <i class="fa fa-reply" @onclick="@(()=> ToggleRespuesta(comentario.Codigo))"></i>
                                                    @if (comentario.Creador != user?.UserName)
                                                    {
                                                        <i class="fa fa-heart" @onclick="@(()=> Abrir(comentario.Codigo,comentario.Creador))"></i>
                                                    }
                                                </div>
                                                <div class="comment-content">
                                                    @(new MarkupString (@comentario.Contenido))
                                                </div>
                                                @if (ComentarioAbierto == comentario.Codigo)
                                                {
                                                    <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                }
                                            </div>
                                        </div>
                                    </li>
                                    @if (comentario.Respuestas.Any())
                                    {
                                        @* Llamada recursiva para mostrar respuestas *@
                                        <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />

                                    }
                                }
                            </ul>
                            }
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="Tus Foros">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                            <div class="foro-row">
                                <section class="foro-left">
                                    <div class="foro-inner-left">
                                        @if (ForosGenerales.Any(item => item.NombreUsuarioCreador == user?.UserName))
                                        {
                                            @foreach (var item in ForosGenerales)
                                            {
                                                if (item.NombreUsuarioCreador == user?.UserName)
                                                {
                                                    <div class="foro-box">
                                                        @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                        <div class="foro-details">
                                                            <p>@item.NombreVideoJuego</p>
                                                            <h3 @onclick="@(()=> AbrirForo(item))">@item.Titulo</h3>
                                                            <div class="foro-sub-details">
                                                                <span>@item.NombreUsuarioCreador</span>
                                                                <span>@item.FechaCreado.ToShortDateString()</span>
                                                                <div class="foro-views">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                    <span>@item.Visitas</span>
                                                                </div>
                                                                <div class="foro-comment">
                                                                    <i class="fa-solid fa-comment"></i>
                                                                    <span>@item.CantidadComentarios</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="foro-favorite" @onclick="(()=>GuardarForoFav(item))" role="button"></div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="foro-box foro-first">
                                                <h3>No has creado foros</h3>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <section class="foro-right">
                                    <div class="foro-box foro-first">
                                        <h3>honda shadow forums</h3>
                                        <span>since 2007</span>
                                        <p>
                                            Welcome to Honda Shadow Forum. Come in and discuss any Honda
                                            Shadow models: VT1100, VT250, VT750 and the VT500.
                                        </p>
                                        <div class="foro-stats">
                                            <div>
                                                <h4>1.6M</h4>
                                                <span>posts</span>
                                            </div>
                                            <div>
                                                <h4>79.4k</h4>
                                                <span>members</span>
                                            </div>
                                        </div>
                                        <div class="foro-buttons">
                                            <a href="#" class="foro-btn foro-btn-red"><i class="fa-solid fa-user-large"></i> join community</a>
                                            <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync"><i class="fa-solid fa-plus" @onclick="OpenDialogAsync"></i> Crear foro</a>
                                        </div>
                                    </div>
                                    <div class="foro-box foro-top-forums">
                                        <h3>our top forums</h3>
                                        <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">general bike discussion</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 709.4k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>104.4M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">technical discussion</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 599.1k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>81.3M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">member introductions</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 189.5k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>19.5M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">road stories</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 133.5k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>7.7M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">honda shadow videos</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 123.1k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>16.3M</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                    else
                    {
                       <SpinnerLoading show=@isForumsLoading/>
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                <span>@ForoSeleccionado.FechaCreado</span>
                                                @*<i class="fa fa-reply"></i>
                                                <i class="fa fa-heart"></i>*@
                                            </div>
                                            <div class="comment-content">
                                               @ForoSeleccionado.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                        <!-- Contenedor Principal -->
                        <div class="comments-container">
                            @if (ComentariosRaiz.Count<1)
                            {
                                <h1>No se han registrado comentarios </h1>
                            }
                            else
                            {
                                <h1>Comentarios </h1>
                                <ul id="comments-list" class="comments-list">
                                    @foreach (var comentario in ComentariosRaiz)
                                    {
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar">
                                                    <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                    <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                    <div class="comment-punctuation">
                                                        @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                    </div>
                                                </div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        @if (comentario.Creador==ForoSeleccionado.NombreUsuarioCreador)
                                                        {
                                                            <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="comment-name">@comentario.Creador</h6>
                                                        }
                                                        <span>@comentario.FechaCreacion</span>
                                                        <i class="fa fa-reply" @onclick="@(()=> ToggleRespuesta(comentario.Codigo))"></i>
                                                        @if (comentario.Creador != user?.UserName)
                                                        {
                                                            <i class="fa fa-heart" @onclick="@(()=> Abrir(comentario.Codigo,comentario.Creador))"></i>
                                                        }
                                                    </div>
                                                    <div class="comment-content">
                                                        @(new MarkupString (@comentario.Contenido))
                                                    </div>
                                                    @if (ComentarioAbierto == comentario.Codigo)
                                                    {
                                                        <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                        @if (comentario.Respuestas.Any())
                                        {
                                            @* Llamada recursiva para mostrar respuestas *@
                                            <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />

                                        }
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="Usuarios" OnClick="AbrirUsuarios">
                @if (!UsuarioDetalle)
                {
                    <div class="userlist-container">
                        <div class="userlist-row">
                            <div class="userlist-search">
                                <label>Search for user</label>
                                <input type="search" @oninput="FilterUsers" placeholder="Search..." class="form-control">
                            </div>
                            <div id="userlist-list" class="userlist-list">
                                @if (usuarios != null)
                                {
                                    @foreach (var user in FilteredUsers)
                                    {
                                        <div class="userlist-list-item" @onclick="AbrirDetalleUsuario">
                                            <div class="userlist-list-item__avatar">
                                               <img src="/assets/Usuario Menu/user.png" alt="">
                                            </div>
                                            <div class="userlist-list-item__content">
                                                <strong class="userlist-list-item__name">
                                                    @user.UserName
                                                </strong>
                                                <span class="userlist-list-item__info">
                                                    @user.Email <br>
                                                    Estilo preferido: @user.Estilo_preferido <br>
                                                    Género preferido: @user.Genero_preferido <br>
                                                    Estado: @(user.Active ? "Activo" : "Inactivo")
                                                </span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                   <ComponenteDetalleUsuario />
                }
            </MudTabPanel>
        </MudTabs>
    </main>
</div>
<CreateForumDialog ShowPopup="@showLoginPopup" OnClose="CloseForumDialogAsync" Videojuegos="videojuegosForo"/>

@code {
    /* LISTADO DE USUARIOS */
    private ICollection<UserResponse> FilteredUsers = new HashSet<UserResponse>();
    private List<string> RecentSearches = new();
    private string SearchTerm { get; set; }

    private void FilterUsers(ChangeEventArgs e)
    {
        SearchTerm = e.Value?.ToString(); // Asignamos el valor manualmente

        if (string.IsNullOrWhiteSpace(SearchTerm))
        {
            FilteredUsers = usuarios;
        }
        else
        {
            var term = SearchTerm.ToLower();
            FilteredUsers = usuarios.Where(u =>
                u.UserName.ToLower().Contains(term)
            ).ToList();
        }
    }
    /*----------------------------------------------------------------------------*/


    private string searchString1 = "";
    private bool isForumsLoading;
    private int? ComentarioAbierto;
    private bool _visible;
    private bool forosfav;
    private bool forosprop;
    private bool forosrec;

    private int _rating;
    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };

    private List<UserResponse> filteredUsuarios => usuarios
        .Where(u => string.IsNullOrWhiteSpace(searchString1) ||
                    u.UserName.Contains(searchString1, StringComparison.OrdinalIgnoreCase) ||
                    u.Email.Contains(searchString1, StringComparison.OrdinalIgnoreCase))
        .ToList();

    // Método para manejar la entrada en tiempo real
    private void OnSearchInput(ChangeEventArgs e)
    {
        searchString1 = e.Value.ToString();
    }

    protected async Task Abrir(int codigo, string usuario)
    {
        var parameters = new DialogParameters { { "CodigoComentario", codigo }, { "Usuario", usuario } };
        var dialog = DialogService.Show<ForumRatingDialog>("Agregar DSA", parameters);
        var result = await dialog.Result;
    }

    protected void ToggleRespuesta(int codigoComentario)
    {
        // Si ya está abierto, lo cierra; de lo contrario, lo abre.
        // Alterna entre abrir o cerrar la respuesta
        ComentarioAbierto = ComentarioAbierto == codigoComentario ? null : codigoComentario;
    }


    public List<ForoResponse> ForosGenerales = new();
    public List<ForoResponse> ForosRecPorVisita = new();

    [Parameter]
    public ForoResponse ForoSeleccionado { get; set; }

    public ICollection<UserResponse> usuarios = new HashSet<UserResponse>();
    public ICollection<ComentarioResponse> Comentarios = new HashSet<ComentarioResponse>();
    public ICollection<ComentarioResponse> ComentariosRaiz = new HashSet<ComentarioResponse>();
    public ICollection<VideojuegoForoReponse> videojuegosForo = new HashSet<VideojuegoForoReponse>();
    public LoginTokenResponse user;
    public bool foroAbierto;
    public bool CreacionForo;
    public bool UsuarioDetalle;
    public string? foroSeleccionado;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            foroAbierto = false;
            CreacionForo = false;
            UsuarioDetalle = false;
            ComentarioAbierto = null;
            isForumsLoading = true;
            forosfav = false;
            forosprop = false;
            forosrec = false;
            foroSeleccionado = "";
            StateHasChanged();
        }
        catch (Exception)
        {

            throw;
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                try
                {
                    user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
                    httpClient.DefaultRequestHeaders.Clear();
                    httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);
                    ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Foro/ObtenerForosGenerales");
                    ForosRecPorVisita = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Recomendaciones/ObtenerRecomendacionesForoVisitado");
                    usuarios = await httpClient.GetFromJsonAsync<List<UserResponse>>("Users/ObtenerUsuarios");
                    FilteredUsers = usuarios;
                    videojuegosForo = await httpClient.GetFromJsonAsync<List<VideojuegoForoReponse>>("Videojuego/ObtenerVideojuegosForo");
                    Snackbar.Clear();
                    Snackbar.Add("Conecta tu cuenta de Steam", Severity.Info, (options) =>
                    {
                        options.CloseAfterNavigation = false;
                        options.Onclick = snackbar =>
                        {
                            Navigation.NavigateTo("/Config");
                            return Task.CompletedTask;
                        };
                        //config.Onclick = snackbar =>
                        //{
                        //    SayHello();
                        //    return Task.CompletedTask;
                        //};
                    });
                }
                catch (Exception) 
                { 

                }

                // Esperar un breve momento para asegurarse de que el componente se haya renderizado completamente
                await Task.Delay(3000);
            }
        }
        catch (Exception)
        {

        }
        finally
        {
            isForumsLoading = false;
            StateHasChanged();
        }

    }

    protected async Task AbrirForo(ForoResponse Foro)
    {
        try
        {
            ForoUsuarioVisitaRequest foroUsuarioVisitaRequest = new ForoUsuarioVisitaRequest();

            foroUsuarioVisitaRequest.Foro_ID = Foro.Codigo;

            user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var result = await httpClient.PostAsJsonAsync<ForoUsuarioVisitaRequest>($"Foro/RegistrarVisita", foroUsuarioVisitaRequest);

            var test = await result.Content.ReadAsStringAsync();

            Comentarios = await httpClient.GetFromJsonAsync<List<ComentarioResponse>>($"Foro/ObtenerComentariosPorForo?ForoId={Foro.Codigo}");
            ComentariosRaiz = ConstruirJerarquiaDeComentarios(Comentarios);
            ForoSeleccionado = Foro;
            foroAbierto = true;
        }
        catch (Exception)
        {
            foroAbierto = false;
            //<<<IMPORTANTE>>>
            //SI YO PONGO THROW EN UN CATCH EN ESTA INSTANCIA YO MANDO LA EXCEPCION AL FRONT Y VA A ROMPER LA WEB ABRUPTAMENTE
            //LO IDEAL ACA ES MOSTRAR UN MENSAJE AL USUARIO QUE OCURRIO UN ERROR AL ABRIR EL FORO
        }
        finally
        {
            StateHasChanged();
        }
    }
    protected async Task CrearForo()
    {
        try
        {
            CreacionForo = true;
        }
        catch (Exception)
        {
            CreacionForo = false;
            //<<<IMPORTANTE>>>
            //SI YO PONGO THROW EN UN CATCH EN ESTA INSTANCIA YO MANDO LA EXCEPCION AL FRONT Y VA A ROMPER LA WEB ABRUPTAMENTE
            //LO IDEAL ACA ES MOSTRAR UN MENSAJE AL USUARIO QUE OCURRIO UN ERROR AL ABRIR EL FORO
        }
        finally
        {
            StateHasChanged();
        }
    }
    protected async Task AbrirDetalleUsuario()
    {
        try
        {
            UsuarioDetalle = true;
        }
        catch (Exception)
        {
            UsuarioDetalle = false;
            //<<<IMPORTANTE>>>
            //SI YO PONGO THROW EN UN CATCH EN ESTA INSTANCIA YO MANDO LA EXCEPCION AL FRONT Y VA A ROMPER LA WEB ABRUPTAMENTE
            //LO IDEAL ACA ES MOSTRAR UN MENSAJE AL USUARIO QUE OCURRIO UN ERROR AL ABRIR EL FORO
        }
        finally
        {
            StateHasChanged();
        }
    }
    protected ICollection<ComentarioResponse> ConstruirJerarquiaDeComentarios(ICollection<ComentarioResponse> todosLosComentarios)
    {
        // Crear un diccionario para buscar comentarios por su código
        var comentarioDict = todosLosComentarios.ToDictionary(c => c.Codigo);

        // Crear una lista para los comentarios raíz
        var comentariosRaiz = new HashSet<ComentarioResponse>();

        foreach (var comentario in todosLosComentarios)
        {
            if (comentario.ComentarioPadre_Codigo.HasValue)
            {
                // Si tiene un comentario padre, agregarlo a las respuestas de su padre
                if (comentarioDict.TryGetValue(comentario.ComentarioPadre_Codigo.Value, out var padre))
                {
                    padre.Respuestas.Add(comentario);
                }
            }
            else
            {
                // Si no tiene un comentario padre, es un comentario raíz
                comentariosRaiz.Add(comentario);
            }
        }

        return comentariosRaiz;
    }


    protected async Task AbrirForosGenerales()
    {
        CreacionForo = false;
        foroAbierto = false;
        StateHasChanged();
    }

    protected async Task AbrirUsuarios()
    {
        UsuarioDetalle = false;
        StateHasChanged();
    }

    private bool showLoginPopup = false;

    protected async Task OpenDialogAsync()
    {
        showLoginPopup = true;
    }

    protected async Task CloseForumDialogAsync()
    {
        try
        {
            ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Foro/ObtenerForosGenerales");
            showLoginPopup = false;
        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }


    }

    private async Task RegistrarComentarioCallBack()
    {
        try
        {
            ToggleRespuesta(ComentarioAbierto.Value);
            await AbrirForo(ForoSeleccionado);

        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }
    private async Task CargaComentarioInicialCallBack()
    {
        try
        {
            await AbrirForo(ForoSeleccionado);

        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task GuardarForoFav(ForoResponse foro)
    {
        try
        {
            var user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var result = await httpClient.PutAsJsonAsync<ForoResponse>($"Foro/GestionarForoFavorito?CodForo={foro.Codigo}", null);

            foreach (var item in ForosRecPorVisita)
            {
                if (item.Codigo==foro.Codigo)
                {
                    if (item.favorito == true)
                    {
                        item.favorito = false;
                    }
                    else
                    {
                        item.favorito = true;
                    }
                }
            }

            foreach (var item in ForosGenerales)
            {
                if (item.Codigo==foro.Codigo)
                {
                    if (item.favorito == true)
                    {
                        item.favorito = false;
                    }
                    else
                    {
                        item.favorito = true;
                    }
                }
            }
        }
        catch (Exception)
        {
            
        }
        finally
        {
            StateHasChanged();
        }
    }
}
